# data
data/**.json

# img
img/*.*

# logs
logs/**/*.log

# configuration
.env*

# ide
.idea/

# vendor
vendor/

# other
desktop.ini
cookie*
.txt
*.xml

# tests
script/*/*
script/*.json

# composer
composer.lock

tests/